<h3><%= @product.name %>, $<%= @product.price %></h3>
<h4>sold at: <a href="/stores/<%=@product.store.id%>"><%= @product.store.name %></a></h4>

<% if @product.store.user == current_user %>
  <a href="/products/<%=@product.id%>/edit">Edit this product</a><br>
  <a href="/products/<%=@product.id%>/delete">Delete this product</a>
<% end %>
